* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(36, 36, 36);
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.header-wrapper {
  position: fixed;
  width: 100%;
  display: relative;
}

.header-container {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 41, 41, 0.8901960784);
  padding: 10px 0px;
  color: white;
  margin: 20px;
  border-radius: 20px;
}

.logo-blizzard-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #221d1d;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 23px 40px;
  gap: 10px;
  cursor: pointer;
}
.logo-blizzard-container svg {
  filter: invert(1);
  transition: transform 0.3s ease;
}
.logo-blizzard-container:hover svg {
  transform: rotate(180deg);
}
.logo-blizzard-container:hover .drop-down-blizzard-content {
  opacity: 1;
  visibility: visible;
  transform: translatey(0);
}

.logo-blizzard-container img {
  height: auto;
  width: 120px;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.drop-down-blizzard-content {
  margin-top: 5px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(64, 47, 46, 0.95);
  padding: 10px 10px;
  display: flex;
  height: auto;
  width: 450px;
  flex-direction: column;
  align-items: left;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
}
a:hover {
  background-color: #645a5a;
}

.section-header {
  position: absolute;
  left: 15%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 1.5rem;
  align-items: left;
}
.section-header img {
  position: absolute;
  top: -4px;
  left: -85px;
  height: auto;
  width: 60px;
}

.menu-item {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.menu-item:hover {
  background-color: rgba(129, 123, 123, 0.2274509804);
}
.menu-item svg {
  filter: invert(1);
  transition: transform 0.3s ease;
}
.menu-item:hover svg {
  transform: rotate(180deg);
}

.novo {
  background-color: #e0d311;
  font-size: 0.8rem;
  padding: 4px 6px;
  margin-right: 8px;
  color: black;
  font-weight: bold;
  border-radius: 6px;
}

.section2-header {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 30px;
}
.section2-header div {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
}
.section2-header div:hover {
  background-color: rgba(129, 123, 123, 0.2274509804);
}
.section2-header div svg {
  filter: invert(1);
}
.section2-header button {
  border: none;
  padding: 20px 25px;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: 600;
}
.section2-header button:nth-of-type(1) {
  background-color: black;
  transition: all 0.3s ease;
}
.section2-header button:nth-of-type(1):hover {
  background-color: #1d1d1d;
}
.section2-header button:nth-of-type(2):hover {
  background-color: #221d1d;
}/*# sourceMappingURL=header.css.map */